# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master
- dev


pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python38:
      python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: python -m pipenv lock -r > requirements.txt
  displayName: 'Create requirements.txt from Pipfile'
- script: pip install -r requirements.txt
  displayName: 'Install requirements.txt'
- script: |
    pip install pytest pytest-azurepipelines
    pytest
  displayName: 'pytest'
