[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "==5.3.4"
pytest-asyncio = "==0.10.0"
pytest-cov = "==2.8.1"
pytest-mock = "==2.0.0"
pre-commit = "==2.0.1"
commitizen = "==1.17.0"

[packages]
appdaemon = "==4.0.1"

[requires]
python_version = "3.8"
